.scroll-stack-scroller {
  position: relative;
  width: 100%;
}

.scroll-stack-inner {
  position: relative;
  width: 100%;
}

.scroll-stack-card {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  will-change: transform, filter;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.scroll-stack-end {
  height: 10vh;
  width: 100%;
  pointer-events: none;
}
